body{
    margin: 0;
    overflow-x: hidden; 
}

/* first-section */

.first-section{
    background-image: url(/img/main1-img.gif);
    background-size: cover;
}


.bg-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg-circle{
    width: 40em;
    height: 40em;
    background-color: white;
    border-radius: 50%;
}

.title{
    position: absolute;
    top: 10rem;
    left: 25rem;
    font-size: 160px;
    color: wheat;
}

#title-secondline{
    position: relative;
    top: 5rem;
    left: 35rem;
}

/* second-section */

.second-section{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;

    width: 100vw;
    position: relative;
    z-index: 3;
}

#profile-img-section{
    width: 300px;
    height: 120px;
    border-radius: 50% 50% 40% 40%;
    transform: skew(70deg, 0deg);
    background-color: white;
    position: relative;
    left: 20rem;
    top: 16rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profile-inner{
    position: relative;
    width: 500px;
    height: 420px;
    border-radius: 50% 50% 30% 50%;
    transform-origin: top left;
    left: -19rem;
    top: -6rem;
    overflow: hidden;
}

#profile-img{
    width: 500px;
    height: 500px;
    position: relative;
    top: 3rem;
}

#profile-text{
    width: 500px;
    position: relative;
    left: -25rem;
    text-align: left;
    padding-top: 3rem;
}

/* third-section */

.third-section{
    display: flex;
    justify-content: center;
    background-color: #c6dbda;
    height: 100vh;
    padding: 3rem 0;
}

.box-zone{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
    width: 80vw;
}

.row{
    padding: 0px;
}

.inner-img{
    height: 200px;
    width: 350px;
    border-radius: 3%;

}

/* Modal */

.modal-section{
    position: absolute;
    top: 10rem;
    width: 1300px;
    height: 500px;
    left: -25rem;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-inner{
    display: flex;
}

#modal-img{
    width: 800px;
    height: 450px;
}

.modal-inner-right{
    padding-left: 3rem;
}

h3{
    margin-bottom: 3rem;
}
.modal-closebtn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #f3a6ad;
    padding: 8px 11px 8px 11px;
    color: #ffffff;
    border-top-left-radius: 5px;
}

/* side btn */

.side-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 40%;
    z-index: 1000;
} 


.side-item{
    text-decoration: none;
    width: 100px;
    color: #020715;
}

.side-section .active{
    background-color: #ecd5e3;
    font-weight: bold;
}
